services:
  backend:
    build:
      context: ./backend
    container_name: doctor_backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres_password@db:5432/postgres
      - SECRET_KEY=replace_this_secret_in_prod
    depends_on:
      - db
    networks:
      - app-network

  frontend-admin:
    build:
      context: ./frontend-admin
    container_name: doctor_admin
    restart: always
    ports:
      - "8001:80"
    depends_on:
      - backend
    networks:
      - app-network

  mobile-app:
    build:
      context: ./mobile-app
    container_name: doctor_mobile
    restart: always
    ports:
      - "8002:80"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: doctor_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres_password
      - POSTGRES_DB=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db_data:


networks:
  app-network:
    driver: bridge
